div.selectors{
    padding: 0;
}
button.selector{
    width: 100%;
    height: 100%;
    background-color: #DDD;
    font-size: 2rem !important;
    padding: 0;
}
div.col {
    padding: 5px;
    height: 100%;
}
button.selector-2{
    width: 95%;
    height: 95%;
    border-color: gray;
    font-size: 1rem !important;
    padding: 0;
}
#selections{
    padding: 0;
    width: 100%;
    height: 100%;
}
._selector{
    padding: 0 !important;
    margin: 0;
    height: 50%;
}
#joystick{
    border-radius: 100%;
    width: 90%;
    height: 90%;
    background-color: gray;
    position: absolute;
    top: calc(50% - 45%);
    left: calc(50% - 45%);
    border-style: solid;
    border-color: #333;
    border-width: 1px; 
}
#joystickContent{
    border-radius: 100%;
    width: 24%;
    height: 24%;
    background-color: white;
    position: absolute;
    top: 38%;
    left: 38%;
    border-style: solid;
    border-color: #333;
    border-width: 1px; 
}
#logContent {
    overflow-y: scroll;
}